@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,600;0,900;1,100;1,200;1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  scroll-behavior: smooth;
}
html {
  font-size: 15px;
}
.none {
  display: none;
}
img{
  max-width: 100%;
  min-height: 100%;
}

#scroll{
  display: none;
  align-items: center;
  text-align: center;
  width: 50px;
  height: 50px;
  padding: 10px;
  background-color: crimson;
  border-radius: 25px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
#scroll .totop{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.arrow{
  font-size: 30px;
  color: #fff;
}

.active {
  display: block !important;
}

a {
  text-decoration: none;
}


body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

/* HEADER section */
header {
  position: fixed;
  z-index: 1;
  height: 80px;
  background-color: rgba(242, 247, 247, 0.2);
  width: 100%;
  padding: 20px 60px;
}

.red{
  background-color: crimson;
}

header .header-main {
  position: relative;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-items: center;
}
.header-main h1 {
  color: #fff;
}
.header-main .logo h1{
  font-size: 32px;
}
.bars {
  display: none;
  font-size: 3rem;
  cursor: pointer;
}

header .header-main .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

header .header-main .navbar .navbar-item {
  margin: 0 10px;
  color: #fff;
  font-weight: 600;
  transition: all .4s;
}
header .header-main .navbar .navbar-item:hover{
  color: crimson;
}
.nav-drop {
  z-index: 999;
  position: fixed;
  top: 0;
  right: -100vw;
  width: 400px;
  padding: 20px;
  display: block;
  background-color: #fff;
  height: 100vh;
  transition: all 0.6s ease-in-out;
}
.nav-drop .cancel {
  position: absolute;
  left: 10px;
  font-size: 2.5rem;
  cursor: pointer;
}
.nav-drop .navbar_2 {
  position: absolute;
  top: 5rem;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.nav-drop .navbar_2 li{
  padding: 12px 0;
}
.navbar_2 .navbar-item_2 {
  color: #000;
  font-size: 2rem;
  margin: 20px 0;
}
.navbar_2 .navbar-item_2:hover{
  color: crimson;
}


/*SHOWCASE */


#showcase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 750px;
  padding: 20px;
}
#showcase .hello {
  color: #fff;
  font-size: 3rem;
}
#showcase .name {
  color: #fff;
  font-size: 3.1rem;
}
#showcase .animation {
  position: relative;
  height: 5rem;
  overflow: hidden;
  z-index: 0;
}
#showcase .animation h3:nth-child(1) {
  animation: refrence 8s infinite;
}
#showcase .animation h3 {
  letter-spacing: 1px;
  line-height: 5rem;
  font-size: 3.1rem;
  color: crimson;
}

@keyframes refrence {
  0% {
    margin-top: 0;
  }
  25% {
    margin-top: -5rem;
  }
  50% {
    margin-top: -10rem;
  }
  75% {
    margin-top: -5rem;
  }
  100% {
    margin-top: 0;
  }
}


/* About me section */


#about{
  text-align: center;
  padding: 20px 10px;
}
.section-header{
  text-align: center;
}
.section-header h1{
  font-size: 40px;
  color: crimson;
  padding: 10px 0;
}
.section-header .line{
  width: 140px;
  height: 5px;
  border-radius: 1px;
  background-color: crimson;
  margin: auto;

}
.section-header .circle{
  margin: auto;
  margin-top: -12px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: crimson;
}

#about .about-main{
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#about .about-main .about-half{
  width: 600px;
  text-align: center;
  padding: 20px;
}
#about .about-main .about-image{
  margin-top: 20px;
  width: 34rem;
  height: 32rem;
  border-radius: 12px;
  transition: all .4s;
  box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.4);
}
/* #about .about-main .about-image:hover{
} */
#about .about-main .about-half .about-h1{

  text-align: left;
  font-size: 2rem;
  color:crimson;
  padding: 1.2rem;
}
#about .about-main .about-half .about-p{
  width: 100%;
  padding: 1.2rem;
  text-align: left;
  font-size: 1.6rem;
  color: #333;
  line-height: 1.8rem;
}


/* SERVICES */

#services{
  text-align: center;
}
#services .services-p{
  padding: 20px ;
  text-align: center;
  width: 80%;
  margin: auto;
}
.services-main{
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.services-main .services-box{
  width: 340px;
  padding:20px 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px 20px rgba(247, 246, 246, 0.918);
  margin: 40px auto;
  }
  
.services-main .services-box .icons{
  display: inline-block;
  transition: all .4s;
  color: crimson;
  font-size: 80px;

}
.services-box:hover{
  transform: scale(1);
}
.services-main .services-box:hover .icons{
  transform: translateY(-20px);
}
.services-main .services-box h1{
  color: crimson;

}


/*My Works */

#works{
  padding: 2rem 0;
  background-color:#000016;
}

#works .works-main{
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#works .works-main .works-box{
  transition: all .6s;
  border-radius: 10px;
  overflow: hidden;
  margin: 20px;
  width: 330px;
  height: 300px;
}
#works .works-main .works-box img{
  transition: all .6s;
}
#works .works-main .works-box img:hover{
transform: scale(1.4);
}

#works .more{
  padding: 20px 0;
  text-align: center;
  width: 100%;
  margin:auto;
}
#works .more a{
  padding: 8px 26px;
  background-color: crimson;
  color: #fff;
  border-radius: 4px;
  transition: .4s ease-in-out;
  font-weight: 600;
  font-size: 20px;
}
#works .more a:hover{
  background-color: #fff;
  color: #000;
}


/* Contact */

#contact{
  padding: 30px 0;
  text-align: center;
}
#contact .contact-main{
  padding: 30px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#contact .contact-main .contact-box{
  margin: 30px;
  width: 240px;
  height: 200px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px;
  box-shadow: 0 0 10px 20px rgba(247, 246, 246, 0.918);
}
#contact .contact-main .contact-box .contact-icons{
  display: inline-block;
  font-size: 60px;
  color: crimson;
  padding: 10px;
  transition: transform .4s ease-in-out;
}

#contact .contact-main .contact-box:hover .contact-icons{
transform: translateY(-20px);
}


#contact .contact-main .contact-box h1{
  padding: 15px;
}
#contact .contact-main .contact-box a{
  color: #000;
  padding: 10px;
}


/* MESSAGE */

.message{
  padding: 30px;
  width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
  box-shadow: 0 0 10px 20px rgba(247, 246, 246, 0.918);
}
.message-header{
  text-align: center;
  width: 100%;
}
.message .form{
  display: flex;
  flex-direction: column;
  position: relative;
}
.message .form .msg-input{
  all: unset;
  text-align: left;
  padding: 3px 5px;
  border: 1px solid #333;
  width: 61%;
  height: 40px;
  margin: 15px auto;
  border-radius: 3px;
}
.message .form .msg-txt{
  all: unset;
  border: 1px solid #333;
  border-radius: 3px;
  padding: 10px;
  width: 60%;
  height: 200px;
  margin: 15px auto;
}
.message .form .msg-btn{
  all:unset;
  border-radius: 3px;
  text-align: center;
  width: 62%;
  height: 40px;
  margin: auto;
  border: solid 1px #333;
  transition: .4s ease-in-out;
}

.message .form .msg-btn:hover{
  background-color: rgba(218, 211, 211, 0.747);
}
/* RESPONSIVE */



@media (max-width: 800px) {
  header {
    padding: 10px 30px;
  }
  header .header-main .navbar {
    display: none;
  }
  .bars {
    display: block;
  }
}
@media(max-width:600px){
  .nav-drop{
    width: 300px;
  }
}

@media(max-width:510px){
  .nav-drop{
    width: 270px;
  }
  html{
    font-size: 10px;
  }
  #about .about-main .about-image{
    width: 36rem;
    height: 42rem;
  }
  #about .about-main .about-half .about-h1{
    font-size: 2.4rem;
  }
  #about .about-main .about-half .about-p{
    font-size: 1.6rem;
  }
  #works .works-main .works-box{
    width: 300px;
    height: 250px;
  }
  .message .form .msg-input{
    width: 220px;
    height: 30px;
  }
  .message .form .msg-txt{
    width: 220px;
    height: 80px;
  }
  .message .from .msg-btn{
    width: 220px !important;
  }
}

@media(max-width:400px){
  #about .about-main .about-image{
    width: 30rem;
    height: 34rem;
  }
  .services-main .services-box{
    width: 320px;
  }
  #works .works-main .works-box{
    width: 290px;
    height: 220px;
  }
}
@media(max-width:355px){
  #about .about-main .about-image{
    width: 26rem;
    height: 30rem;
  }
  .services-main .services-box{
    width: 280px;
  }

  /* MESSAGE */
  .message .form .msg-input{
    width: 190px;
    height: 20px;
  }
  .message .form .msg-txt{
    width: 190px;
    height: 60px;
  }
  .message .from .msg-btn{
    width: 190px !important;
  }
}

@media(max-width:330px){
  #works .works-main .works-box{
    width: 280px;
    height: 200px;
  }
}
@media(max-width:300px){
  html{
    font-size: 8px;
  }
  .nav-drop{
    width: 220px;
  }
}


/* Footer */
.footer{
  height: 80px;
  text-align: center;
  background-color:#000016;
}
.footer h1{
  padding: 10px;
  color: #fff;
}
